html {
  display: block;
  background-image: url(../medias/carre_fond4.png);
  background-color: #3D3D3D;
  height: 100%;
}
body, .container-fluid, .row-fluid {
  height: 100%;
}
#menu {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 80px;
  /*padding: 17%;*/
}
#skills h3 {
  font-size: 20px;
}
.fixed {
  position: fixed;
}
.col-xs-12, .col-sm-12, .col-md-4 {
  opacity: 0.90;
}
.col-xs-12:hover, .col-sm-12:hover, .col-md-4:hover {
  opacity: 1;
}
#formation .col-md-4 h5 , p , #works .col-md-4 h5 , p {
  font-size: 0.7em;
  color: white;
  margin: 0;
  padding: 2%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#formation .col-md-4 h5, #works .col-md-4 h5 {
  font-size: 0.95em;
  font-weight: 900;
}
/*#works .col-xs-12, .col-sm-12 {
  opacity: 0.90;
}*/
#works .col-xs-12:hover, .col-sm-12:hover {
  opacity: 1;
}
.onglets a {
  color: white;
  text-decoration: none;
}
.onglets:hover {
  opacity: 1;
}
.onglets a img{
    width: 14%;
    /*float: right;*/
}
.maphoto {
  max-width: 40%;
  height: auto;
}
.img-responsive {
    margin: 0 auto;
}
h2,h3 {
  color: white;
}
.txt-valeur {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.6em;
  margin: :5% 5% 5% 0%;
  padding: 2.5% 2.5% 2.5% 2.5%;
  opacity: 1;
}
.row-fluid #works {
  /*height: 90%;*/
  /*padding: 20%;*/
}
.thumbnail {
  border: 0;
  background: none;
}
.progress {
  background: rgba(255, 255, 255, 1);
  border: 0px solid rgba(245, 245, 245, 1);
  border-radius: 8px;
  height: 11px;
}
.progress-bar {
  background: rgba(143, 143, 143, 1);
}
@media (min-width: 200px) and (max-width: 590px) {
  #menu {
    display: none;
  }
  #petit-menu {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    font-size: 10px;
    position: fixed;
    z-index: 1;
    margin-left: 0;
  }
  .onglets{
    padding: 2% 2% 2% 2%;
    opacity: 0.6;
  }
  .onglets a {
    color: white;
    text-decoration: none;
  }
  .onglets a img{
      width: 5%;
      /*float: right;*/
  }
  .icons img{
    margin-top: 10%;
    width: 80%;
  }
  .maphoto {
    margin-top: 10%;
    max-width: 70%;
    height: auto;
  }
}
@media (min-width: 591px) and (max-width: 991px) {
  #menu {
    display: none;
  }
  #petit-menu {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 0px;
    position: fixed;
    z-index: 1;
    margin-left: 0;
    /*padding: 17%;*/
  }
  .onglets{
    opacity: 0.5;
    width: 20%;
    font-size: 11px;
    padding: 1% 0% 1% 1%;
  }
  .icons img{
    margin-top: 70%;
    width: 55%;
    /*background-color: red;*/
  }
  .maphoto {
    margin-top: 5%;
    max-width: 55%;
    height: auto;
  }

}
@media (min-width: 992px) and (max-width: 1920px) {
  #petit-menu {
    display: none;
  }
  .onglets{
    padding: 15% 5% 15% 15%;
    opacity: 0.5;
    font-size: 11px;
  }
  .icons img{
    margin-top: 70%;
    width: 45%;
    /*background-color: black;*/
  }
}
.col-md-4 {
  /*background-color: pink;*/
}
.col-md-6 {
  /*background-color: red;
  width: 50%;*/
}
.col-md-8 {
  /*background-color: green;*/
  /*width: auto;*/
}
